body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('https://images.pexels.com/photos/2800121/pexels-photo-2800121.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed;
    background-size: cover;
  }

  .navbar {
    background-color: #eeeeee;
    overflow: hidden;
  }

  .navbar-logo {
    float: left;
    padding: 10px;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
  }

  .navbar-links {
    float: right;
    padding: 10px;
    list-style: none;
  }

  .navbar-links li {
    display: inline;
    margin-right: 20px;
  }

  .navbar-links li:last-child {
    margin-right: 0;
  }

  .navbar-links a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
  }

  .navbar-links a:hover {
    color: #0B666A;
  }

  .responsive-section {
    text-align: center;
    color: white;
    padding: 100px 0;
  }

  .content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 16%;
    border-radius: 5px;
  }
  .content-1 {
    background-color: #ffffff;
    padding: 16%;
    border-radius: 5px;
    color: #0B666A;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
  }
  .footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
  }

  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer-info,
  .footer-company {
    flex-basis: 48%;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    margin: 5px 0;
  }
